3_2024-06-03_10-38-19.mp4
3_2024-07-17_09-30-33.mp4
3_2024-07-18_11-18-17.mp4
video_frames/cropped5.jpg
video_frames/cropped6.jpg
video_frames/cropped8.jpg
video_frames/cropped14.jpg
video_frames/cropped15.jpg
video_frames/cropped17.jpg
video_frames/cropped18.jpg
video_frames/cropped19.jpg
video_frames/cropped20.jpg
video_frames/cropped26.jpg
video_frames/cropped28.jpg
video_frames/cropped29.jpg
cleanroom_pics/cleanroom1.jpg
tester/test0.jpg
tester/test1.jpg
tester/test2.jpg
video_frames/cropped0.jpg
video_frames/cropped1.jpg
video_frames/cropped2.jpg
video_frames/cropped3.jpg
video_frames/cropped4.jpg
video_frames/cropped7.jpg
video_frames/cropped9.jpg
video_frames/cropped10.jpg
video_frames/cropped11.jpg
video_frames/cropped12.jpg
video_frames/cropped13.jpg
video_frames/cropped16.jpg
video_frames/cropped21.jpg
video_frames/cropped22.jpg
video_frames/cropped23.jpg
video_frames/cropped24.jpg
video_frames/cropped25.jpg
video_frames/cropped27.jpg
video_frames/cropped30.jpg
video_frames/cropped31.jpg
video_frames/non4.jpg
cropped.jpg
cleanroom_colormask.py
cleanroom_pics/cleanroom0.jpg 
cleanroom_pics/cleanroom2.jpg 
cleanroom_pics/cleanroom3.jpg 
cleanroom_pics/cleanroom4.jpg 
cleanroom_pics/cleanroom5.jpg 
cleanroom_pics/cleanroom6.jpg 
cleanroom_pics/cleanroom7.jpg